<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About BeOnTime</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <p> *BeOnTime is a clone of NowLeave, https://www.nowleave.com , web application as found on betalist.com </p>
    <br>
    <a href="/index">Ok, got it!</a>

   </br> <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"></link>
  </body>
</html>